<!-----------Presentacion---------->
<section id="presentacion" class="mx-auto text-start mb-5 mt-1 pb-5 pt-3 px-4">

    <!--------------Theme-------------->
    <section data-aos="fade-up" data-aos-duration="2000" class="mb-1 pt-5 mt-5" id="theme">
        <ion-icon onclick="change_theme_claro()" class="theme-claro" name="contrast-outline"></ion-icon>
        <ion-icon onclick="change_theme_intermedio()" class="theme-intermedio" name="contrast-outline"></ion-icon>
        <ion-icon onclick="change_theme_oscuro()" class="theme-oscuro" name="contrast-outline"></ion-icon>
    </section>
    <!--------------------------------->

    <h4 data-aos="fade-right" data-aos-duration="1300" id="saludo" class="mb-4">Hola, mi nombre es</h4>
    <h1 data-aos="fade-right" data-aos-duration="1600" id="nombre" class="mb-4">{{presentacion.apellido}} {{presentacion.nombre}}</h1>
    <h2 data-aos="fade-right" data-aos-duration="1900" id="profesion" class="mb-5">{{presentacion.profesion}}</h2>
    <h4 data-aos="fade-right" data-aos-duration="2200" id="info" class="mb-3">
        {{presentacion.presentacion}}
    </h4>
</section>
<section id="perfil" class="container text-center my-4 py-5 px-3">
    <img data-aos="fade-up" data-aos-duration="3000" src="{{presentacion.link_perfil}}" alt="Mi perfil" class="mt-5 mb-3 rounded-circle">
</section>
<section data-aos="fade-up" data-aos-duration="2000" id="descripcion" class="text-start mx-auto py-5 mb-5 px-4">
    <button class="secciones border-bottom border-primary mb-3" data-aos="fade-right" data-aos-duration="3000">
        <ion-icon name="newspaper-outline"></ion-icon>
        <h4 id="sobre-mi">Sobre mi</h4>
    </button>
    <p data-aos="fade-left" data-aos-duration="1300" class="mb-3 text-end">{{presentacion.direccion}}</p>
    <p data-aos="fade-right" data-aos-duration="1600" class="mb-4">{{presentacion.regla}}</p>
    <p data-aos="fade-right" data-aos-duration="1900" class="mb-4">Aqui hay algunas de las tecnologias con las que he estado trabajando recientemente:</p>
    <div data-aos="fade-left" data-aos-duration="2200" class="tecnologias-actuales">
        <div class="lista-start">
            <li *ngFor="let habilidad of Get_habilidades('start')">{{habilidad.nombre}}</li>
        </div>
        <div class="lista-end">
            <li *ngFor="let habilidad of Get_habilidades('end')">{{habilidad.nombre}}</li>
        </div>
    </div>
</section>