<section class="portada">
    <div class="container">
        <div class="circle">
            <span *ngFor="let item of items" style="--i:{{item}};"></span>
        </div>
        <div class="circle">
            <span *ngFor="let item of items" style="--i:{{item}};"></span>
        </div>
    </div>
    <p class="btn-iniciar">
        <button class="btn-inicio">Portafolio</button>
    </p>
    <div class="name">
        Ricardo Nicolas Alejo Beltran
    </div>
    <div class="profesion">
        Programador web Full Stack
    </div>
    <p class="intro">
        La diferencia entre un sistema bien construido y uno que no lo esta, es que uno de estos puso mucho énfasis en los detalles. Ya suponemos cual es.
        <br>
        😏
    </p>
</section>