<!-----------Experiencia---------->
<section data-aos="fade-right" data-aos-duration="3000" id="experiencia-laboral" class="mx-auto text-start py-5 px-3">
    <button class="secciones border-bottom border-primary mb-3" data-aos="fade-right" data-aos-duration="3000">
        <ion-icon name="briefcase-outline"></ion-icon>
        <h4>Experiencia</h4>
    </button>
</section>
<section data-aos="fade-up" data-aos-duration="3000" class="section-experiencia mx-auto text-start pb-5 px-3">
    <article *ngFor="let experiencia of experiencias_laborales" data-aos="fade-up" data-aos-duration="3000" class="data-experiencia py-4">
        <div class="logo-experiencia text-center my-auto">
            <img class="img-experiencia mt-0 rounded-3" src="{{experiencia.url_imagen}}" alt="Imagen experiencia laboral {{experiencia.empresa}}">
        </div>
        <div class="info-experiencia px-3 my-auto">
            <p class="name-institucion fw-semibold">
                {{experiencia.empresa}}
            </p>
            <p class="card-text my-2">
                Puesto : {{experiencia.puesto}}
            </p>
            <p class="card-text my-2">
                Tiempo transcurrido desde {{experiencia.fecha_inicio}} hasta {{experiencia.fecha_inicio}}
            </p>
            <p class="card-text my-2">
                Descripcion : {{experiencia.descripcion}}
            </p>
        </div>
    </article>
</section>