<!-----------Educacion---------->
<section data-aos="fade-right" data-aos-duration="3000" id="educacion" class="mx-auto text-start py-5 px-3">
    <h4 class="border-bottom border-primary pb-2 text-end mt-5 mb-1">Educacion</h4>
</section>
<section data-aos="fade-up" data-aos-duration="3000" class="section-educacion mx-auto text-start pb-5 px-3">
    <article *ngFor="let educacion of educaciones" data-aos="fade-up" data-aos-duration="3000" class="data-educacion py-4">
        <div class="logo-educacion text-center my-auto">
            <img class="img-educacion mt-0 rounded-3" src="{{educacion.url_imagen}}" alt="Imagen educacion {{educacion.institucion}}">
        </div>
        <div class="info-educacion px-3 my-auto">
            <p class="name-institucion fw-semibold">
                Institucion {{educacion.institucion}}
            </p>
            <p class="card-text my-2">
                Carrera : {{educacion.carrera}}
            </p>
            <p class="card-text my-2">
                Tiempo transcurrido desde {{educacion.fecha_inicio}} hasta {{educacion.fecha_fin}}
            </p>
            <p>
                {{educacion.descripcion}}
            </p>
        </div>
    </article>
</section>