<!-----------Habilidades adicionales---------->
<section data-aos="fade-up" data-aos-duration="3000" id="habilidades-adicionales" class="mx-auto text-end py-5 px-3">
    <button class="secciones border-bottom border-primary mb-3" data-aos="fade-right" data-aos-duration="3000">
        <ion-icon name="pulse-outline"></ion-icon>
        <h4>Mas habilidades</h4>
    </button>
</section>
<section data-aos="fade-up" data-aos-duration="3000" id="habilidad-adicional" class="mx-auto">
    <article class="blandas">
        <div class="descripcion fw-semibold border border-primary mb-4">
            <div class="name-blanda">Blandas</div>
            <div class="logo-blanda">
                <ion-icon name="checkmark-circle-outline"></ion-icon>
            </div>
        </div>
        <div *ngFor="let habilidad of Get_habilidades_blandas()" class="bar mb-3">
            <div class="descripcion-skill">
                <div class="">
                    <app-selected-icon [name_icon] = "habilidad.nombre_icono" [size_icon] = "22"></app-selected-icon>
                </div>
                <p>{{habilidad.nombre}}</p>
            </div>
            <div class="progress-line rounded-4">
                <span class="h-100" style="--porcentaje:{{habilidad.porcentaje}}%"></span>
            </div>
        </div>
    </article>
    <article class="mas-habilidades">
        <div class="gestion">
            <div class="descripcion fw-semibold border border-primary mb-4">
                <div class="logo-gestion">
                    <ion-icon name="checkmark-circle-outline"></ion-icon>
                </div>
                <div class="name-gestion">Gestion de proyectos</div>
            </div>
            <div *ngFor="let habilidad of Get_habilidades_gestion_de_proyectos()" class="bar mb-3">
                <div class="descripcion-skill">
                    <div class="">
                        <app-selected-icon [name_icon] = "habilidad.nombre_icono" [size_icon] = "22"></app-selected-icon>
                    </div>
                    <p>{{habilidad.nombre}}</p>
                </div>
                <div class="progress-line rounded-4">
                    <span class="h-100" style="--porcentaje:{{habilidad.porcentaje}}%"></span>
                </div>
            </div>
        </div>
        <div class="control-de-versiones">
            <div class="descripcion fw-semibold border border-primary mb-4">
                <div class="logo-version">
                    <ion-icon name="checkmark-circle-outline"></ion-icon>
                </div>
                <div class="name-version">Control de versiones</div>
            </div>
            <div *ngFor="let habilidad of Get_habilidades_control_de_versiones()" class="bar mb-3">
                <div class="descripcion-skill">
                    <div class="">
                        <app-selected-icon [name_icon] = "habilidad.nombre_icono" [size_icon] = "22"></app-selected-icon>
                    </div>
                    <p>{{habilidad.nombre}}</p>
                </div>
                <div class="progress-line rounded-4">
                    <span class="h-100" style="--porcentaje:{{habilidad.porcentaje}}%"></span>
                </div>
            </div>
        </div>
    </article>
</section>