<!-----------Proyectos----------->
<section data-aos="fade-right" data-aos-duration="3000" id="proyectos" class="mx-auto text-start py-5 px-3">
    <button class="secciones border-bottom border-primary mb-3" data-aos="fade-right" data-aos-duration="3000">
        <ion-icon name="code-outline"></ion-icon>
        <h4>Proyectos</h4>
    </button>
</section>
<p data-aos="fade-up" data-aos-duration="3000" class="presentacion-proyecto mx-auto mb-5">A continuacion algunos proyectos que he realizado, en todos ellos siempre tuve presente que un entorno de trabajo bien personalizado es fundamental para un desarrollo productivo y eficiente.</p>
<section data-aos="fade-up" data-aos-duration="3000" class="section-proyecto mx-auto mb-5">
    <div class="swiper mySwiper-proyecto mb-5">
        <div class="swiper-wrapper">
            <article *ngFor="let proyecto of proyectos" class="card swiper-slide">
                <div class="face front">
                    <img class="img-card-proyecto" src="{{proyecto.url_imagen}}" alt="Imagen de proyecto {{proyecto.nombre}}">
                    <p class="text-card-proyecto fw-bold">{{proyecto.nombre}}</p>   
                </div>
                <div class="face back">
                    <h3 class="fw-bold">{{proyecto.nombre}}</h3>
                    <p>{{proyecto.descripcion}}</p>
                    <p>Tecnologias : {{proyecto.tecnologias_usadas}}</p>
                    <div class="link">
                        <a href="{{proyecto.link_git}}" class="mx-2">
                            <ion-icon name="git-branch-outline"></ion-icon>
                        </a>
                    </div>
                </div>
            </article>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>