<!-----------Habilidades tecnicas---------->
<section data-aos="fade-right" data-aos-duration="3000" id="habilidades" class="mx-auto text-start py-5 px-3">
    <h4 class="border-bottom border-primary pb-2 text-end mt-5 mb-1">Habilidades tecnicas</h4>
</section>
<section data-aos="fade-up" data-aos-duration="3000" id="habilidad" class="items-habilidad-tecnica mx-auto text-center">
    <div *ngFor="let habilidad of habilidades" class="container-edit-habilidad">
        <div class="porcentaje" style="--num:{{habilidad.porcentaje}}">
            <div class="dot"></div>
            <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
            </svg>
            <div class="numero">
                <div class="icon">
                    <app-selected-icon [name_icon] = "habilidad.nombre_icono" [size_icon] = "22"></app-selected-icon>
                </div>
                <h2>{{habilidad.porcentaje}}<span>%</span></h2>
                <p>{{habilidad.nombre}}</p>
            </div>
        </div>
    </div>
</section>