<!----------------Header y nav--------------->
<header class="fixed-top w-100" id="inicio">
    <i data-aos="fade-left" data-aos-duration="1300" class='btn-menu bx bx-menu-alt-right bx-lg'></i>
    <nav class="menu-navegacion">
        <p class="header-menu border-bottom border-info text-center fw-semibold">Menu principal</p>
        <div class="" id="items">
            <ul class="navbar-nav">
                <li class="nav-item fw-semibold">
                    <a class="item fs-6 mx-1 py-1 px-3" href="#presentacion">
                        <div class="name-item text-start py-1 rounded-5">
                            Sobre mi
                        </div>
                        <div class="logo-item mx-1 rounded-5">
                            <ion-icon name="newspaper-outline"></ion-icon>
                        </div>
                    </a>
                </li>
                <li class="nav-item fw-semibold">
                    <a class="item fs-6 mx-1 py-1 px-3" href="#perfil">
                        <div class="name-item text-start py-1 rounded-5">
                            Perfil
                        </div>
                        <div class="logo-item mx-1 rounded-5">
                            <ion-icon name="person-circle-outline"></ion-icon>
                        </div>
                    </a>
                </li>
                <li class="nav-item fw-semibold">
                    <a class="item fs-6 mx-1 py-1 px-3" href="#educacion">
                        <div class="name-item text-start py-1 rounded-5">
                            Educacion
                        </div>
                        <div class="logo-item mx-1 rounded-5">
                            <ion-icon name="school-outline"></ion-icon>
                        </div>
                    </a>
                </li>
                <li class="nav-item fw-semibold">
                    <a class="item fs-6 mx-1 py-1 px-3" href="#experiencia-laboral">
                        <div class="name-item text-start py-1 rounded-5">
                            Experiencia
                        </div>
                        <div class="logo-item mx-1 rounded-5">
                            <ion-icon name="briefcase-outline"></ion-icon>
                        </div>
                    </a>
                </li>
                <li class="nav-item fw-semibold">
                    <a class="item fs-6 mx-1 py-1 px-3" href="#habilidades">
                        <div class="name-item text-start py-1 rounded-5">
                            Habilidades
                        </div>
                        <div class="logo-item mx-1 rounded-5">
                            <ion-icon name="pulse-outline"></ion-icon>
                        </div>
                    </a>
                </li>
                <li class="nav-item fw-semibold">
                    <a class="item fs-6 mx-1 py-1 px-3" href="#proyectos">
                        <div class="name-item text-start py-1 rounded-5">
                            Proyectos
                        </div>
                        <div class="logo-item mx-1 rounded-5">
                            <ion-icon name="code-outline"></ion-icon>
                        </div>
                    </a>
                </li>
                <li class="nav-item fw-semibold">
                    <a class="item fs-6 mx-1 py-1 px-3" href="#final">
                        <div class="name-item text-start py-1 rounded-5">
                            Contacto
                        </div>
                        <div class="logo-item mx-1 rounded-5">
                            <ion-icon name="mail-unread-outline"></ion-icon>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <p class="footer-menu border-top border-info text-center">Beltran Ricardo Nicolas Alejo</p>
    </nav>
    <a id="logo-header" href="/login">
        <img data-aos="fade-right" data-aos-duration="1300" src="./favicon.ico" alt="Logo" class="rounded-circle" id="logo-menu">
    </a>
</header>