<!-----------Redes sociales---------->  
<h6 data-aos="fade-up" data-aos-duration="3000" id="m-oculto" class="mt-4 pt-5 fw-bold">Puedes comunicarte mediante</h6> 
<section data-aos="fade-up" data-aos-duration="2000" class="fixed-bottom" id="redes">
    <a *ngFor="let red_social of redes_sociales" href="{{red_social.link}}" id="sociales">
        <div class="mx-1 my-3">
            <app-selected-icon [name_icon] = "red_social.nombre_logo" [size_icon] = "20"></app-selected-icon>
        </div>
    </a>
    <h6 class="">-</h6>
    <h6 class="">-</h6>
    <h6 class="mb-3">-</h6>
</section>