/**------Variables------**/
:root{
    --color-menu: #0a192d;
    --color-font-primary: #02172d;
    --color-font-card: #022441;
    --color-text-primary: #2df9bf;
    --color-text-secondary: #ffffffde;
    --color-text-tertiary: #ffffffb1;
    --color-text-quaternary: #ffffff80;
    --color-text-quintenary: #ffffff4d;
    --color-sub-title-habilidades-adicionales: #0000ff;
    --color-text-menu: #2dffc3;
    --color-border-menu: #00ffff95;
    --color-text-select: #808080;
    --tipo-letra-bold: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --tipo-letra-modal-add-edit: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --porcentaje: 0%;
    --color-theme-claro-active: var(--color-font-primary);
    --color-theme-intermedio-active: var(--color-font-primary);
    --color-theme-oscuro-active: var(--color-font-primary);
    --color-theme-claro-hover-active: #00b900;
    --color-theme-intermedio-hover-active: #00ffff;
    --color-theme-oscuro-hover-active: #2df9bf;
    --icono-theme: '➤➤';
}
/**---------------------**/

/**------General------**/
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-text-primary);
    letter-spacing: 1.4px;
}
body{
    background: var(--color-font-primary);
}
a{
    text-decoration: none;
}
#presentacion, #descripcion, #educacion, .section-educacion, #experiencia-laboral, .section-experiencia, #habilidades, #habilidades-adicionales, #proyectos, .section-pasatiempo, #pasatiempos, #redes-sociales{
    width: 96%;
}
textarea{
    min-height: 140px;
    max-height: 140px;
    resize:none;
}
textarea::-webkit-scrollbar{
    width: 7px;
}
textarea::-webkit-scrollbar-thumb{
    background: var(--color-text-primary);
    border-radius: 30px;
}
.btn:hover{
    box-shadow: 0 1px 20px 15px var(--color-font-card);
    font-family: var(--tipo-letra-bold);
    color: var(--color-text-primary);
}
.header{
    height: 45px;
    padding: 0px 15px;
}
.header .btn-cerrar{
    background-color: var(--color-text-primary);
    color: var(--color-font-primary);
    border: 1px;
    border-radius: 10%;
    width: 25px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
}
.header .btn-cerrar:hover{
    box-shadow: 0 0 10px 7px var(--color-font-card);
    font-family: var(--tipo-letra-bold);
}
.login form a, #add-educacion form button, #edit-presentacion form button, #add-detalle form button, #add-experiencia-laboral form button, #add-habilidad-tecnica form button, #add-habilidad-adicional form button, #add-proyecto form button, #add-tecnologia form button, #add-red-social form button, #add-pasatiempo form button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
@media (max-width : 600px){
    .header .btn-cerrar{
        background: transparent;
        color:var(--color-text-primary);
    }
}
html,body{
    width: 100%;
    overflow-x: hidden;
}
@media (min-width : 500px){
    body::-webkit-scrollbar{
        width: 7px;
    }
    body::-webkit-scrollbar-thumb{
        background: var(--color-text-primary);
        border-radius: 30px;
    }
}
/**-------------------**/

/**---------------Themes-------------**/
#theme{
    display: flex;
    gap:20px;
}
#theme::after{
    content: var(--icono-theme);
    margin-left: 20px;
    margin-bottom: 15px;
    animation: animate_theme 0.8s linear infinite;
}
@keyframes animate_theme{
    0%{
        transform: rotate(-180deg) translateX(-15px);
    }
    100%{
        transform: rotate(-180deg) translateX(15px);
    }
}
#theme ion-icon{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 0.1px solid var(--color-text-primary);
}
#theme ion-icon:hover{
    cursor: pointer;
}
.theme-claro{
    color: var(--color-theme-claro-active);
}
.theme-claro:hover{
    cursor: pointer;
    color: var(--color-theme-claro-hover-active);
    box-shadow: 0 0 30px 2px var(--color-theme-claro-hover-active);
}
.theme-intermedio{
    color: var(--color-theme-intermedio-active);
}
.theme-intermedio:hover{
    cursor: pointer;
    color: var(--color-theme-intermedio-hover-active);
    box-shadow: 0 0 30px 2px var(--color-theme-intermedio-hover-active);
}
.theme-oscuro{
    color: var(--color-theme-oscuro-active);
}
.theme-oscuro:hover{
    cursor: pointer;
    color: var(--color-theme-oscuro-hover-active);
    box-shadow: 0 0 30px 2px var(--color-theme-oscuro-hover-active);
}
@media (max-width : 1100px){
    #theme{
        top: 100px;
        right: 4px;
        margin-bottom: 15px;
    }
    #theme ion-icon{
        width: 20px;
        height: 20px;
    }
}
@media (max-width : 500px){
    #theme{
        top: 80px;
        right: 3px;
        margin-bottom: 10px;
    }
    #theme ion-icon{
        width: 15px;
        height: 15px;
    }
}
/**----------------------------------**/
/**-------------Portada--------------**/
.portada{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: #042104;
    animation: animate_color 8s linear infinite;
}
.portada .container{
    display: flex;
    justify-content: center;
}
.portada .container .circle{
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 -7.5px;
}
.portada .container .circle span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
}
.portada .container .circle span::before{
    content: '';
    position: absolute;
    right: 0;
    top: calc(50% - 7.5px);
    width: 20px;
    height: 20px;
    background: #00ff0a;
    border-radius: 50%;
    box-shadow: 0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 40px #00ff0a, 0 0 60px #00ff0a, 0 0 80px #00ff0a, 0 0 100px #00ff0a;
    transform: scale(0.1);
    animation: animate_infinite 4s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}
.portada .container .circle:nth-child(2){
    transform: rotate(-180deg);
}
.portada .container .circle:nth-child(2) span::before{
    animation-delay: calc(-0.1s * var(--i));
}
.btn-iniciar{
    position: absolute;
    display: flex;
    top: 25px;
    left: 15px;
}
.btn-iniciar button{
    background-color: #00ff0a;
    color: #ffffff;
    font-size: 22px;
    font-family: consola;
    letter-spacing: 5.5px;
    width: 200px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.btn-iniciar button:hover{
    cursor: pointer;
    border: 1px solid #000;
    color: #000;
}
.btn-iniciar::before{
    content: '➤';
    margin-right: 25px;
    animation: animate_button_before 0.8s linear infinite;
}
.btn-iniciar::after{
    content: '➤';
    margin-left: 25px;
    margin-bottom: 4px;
    animation: animate_button_after 0.8s linear infinite;
}
.iniciales{
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-family: consola;
    top: 47.5%;
    left: 40.3%;
    letter-spacing: 110px;
}
.name{
    position: absolute;
    width: 200px;
    font-size: 17px;
    text-align: center;
    letter-spacing: 4.5px;
    font-family: consola;
    top: 130px;
    left: 10px;
    transform: rotate(-40deg);
}
.name:hover{
    cursor: pointer;
    animation: animate_texto_name 0.1s linear;
}
.profesion{
    position: absolute;
    width: 200px;
    font-size: 17px;
    text-align: center;
    font-family: consola;
    top: 130px;
    right: 10px;
    letter-spacing: 4.5px;
    transform: rotate(40deg);
}
.profesion:hover{
    cursor: pointer;
    animation: animate_texto_profesion 0.1s linear;
}
.intro{
    position: absolute;
    text-align: center;
    font-family: consola;
    font-size: 17px;
    letter-spacing: 4.5px;
    width: 680px;
    top: 75%;
    left: 24.1%;
}
.intro:hover{
    cursor: pointer;
    transform: scale(0.9);
    animation: animate_texto_intro 2s linear infinite;
}
@keyframes animate_color{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
@keyframes animate_infinite{
    0%{
        transform: scale(1);
    }
    50%,100%{
        transform: scale(0.1);
    }
}
@keyframes animate_button_after{
    0%{
        transform: rotate(-180deg) translateX(-15px);
    }
    100%{
        transform: rotate(-180deg) translateX(15px);
    }
}
@keyframes animate_button_before{
    0%{
        transform: translateX(-15px);
    }
    100%{
        transform: translateX(15px);
    }
}
@keyframes animate_texto_name{
    0%{
        transform: rotate(-27deg);  
    } 
    100%{
        transform: rotate(-52deg);         
    }  
}
@keyframes animate_texto_profesion{
    0%{
        transform: rotate(27deg);  
    } 
    100%{
        transform: rotate(52deg);         
    }  
}
@keyframes animate_texto_intro{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1)
    }
}
@media (min-width : 1300px){
    .name,.profesion{
        font-size: 26px;
        width: 250px;
    }
    .intro{
        font-size: 20px;
    }
}
@media (min-width : 1350px){
    .iniciales{
        left: 41%;
    }
    .intro{
        left: 27%;
    }
}
@media (min-width : 1400px){
    .iniciales{
        left: 42%;
    }
    .intro{
        left: 28%;
    }
}
@media (min-width : 1500px){
    .iniciales{
        left: 42.5%;
    }
    .intro{
        left: 30%;
    }
}
@media (min-width : 1665px){
    .iniciales{
        left: 43%;
    }
    .intro{
        left: 32%;
    }
}
@media (min-width : 1900px){
    .iniciales{
        left: 44%;
    }
    .intro{
        left: 33.5%;
    }
}
@media (min-width : 2200px){
    .iniciales{
        left: 45%;
    }
    .intro{
        left: 35%;
    }
}
@media (max-width : 1200px){
    .iniciales{
        left: 39%;
    }
    .intro{
        left: 20%;
    }
}
@media (max-width : 1100px){
    .iniciales{
        left: 38%;
    }
    .intro{
        left: 19%;
    }
}
@media (max-width : 1000px){
    .iniciales{
        left: 37%;
    }
    .intro{
        left: 16%;
    }
}
@media (max-width : 900px){
    .iniciales{
        left: 35.5%;
    }
    .intro{
        left: 11%;
    }
}
@media (max-width : 800px){
    .iniciales{
        left: 34%;
    }
    .intro{
        left: 5%;
    }
}
@media (max-width : 750px){
    .iniciales{
        left: 33%;
    }
    .intro{
        left: 10%;
        width: 580px;
    }
}
@media (max-width : 700px){
    .iniciales{
        left: 31.5%;
    }
}
@media (max-width : 650px){
    .iniciales{
        left: 30%;
    }
    .intro{
        left: 3%;
        width: 580px;
    }
}
@media (max-width : 600px){
    .iniciales{
        left: 28%;
    }
    .intro{
        left: 7.5%;
        width: 500px;
    }
}
@media (max-width : 550px){
    .iniciales{
        left: 26.5%;
    }
    .intro{
        left: 9%;
        width: 450px;
    }
}
@media (max-width : 500px){
    .iniciales{
        left: 25%;
    }
    .intro{
        left: 13%;
        width: 380px;
    }
}
@media (max-width: 485px){
    .portada .container .circle{
        width: 200px;
        height: 200px;
    }
    .iniciales{
        left: 29%;
        letter-spacing: 85px;
    }
    .intro{
        left: 11%;
        width: 380px;
    }
}
@media (max-width: 450px){
    .iniciales{
        left: 27.5%;
        letter-spacing: 85px;
    }
    .intro{
        left: 7%;
        width: 380px;
    }
}
@media (max-width: 415px){
    .iniciales{
        left: 26.5%;
        letter-spacing: 83px;
    }
    .intro{
        left: 7%;
        width: 360px;
    }
}
@media (max-width: 400px){
    .portada .container .circle{
        width: 180px;
        height: 180px;
    }
    .iniciales{
        left: 25%;
        letter-spacing: 78px;
    }
    .intro{
        left: 4.7%;
        width: 360px;
    }
}
@media (max-width: 375px){
    .iniciales{
        left: 24.5%;
        letter-spacing: 80px;
    }
    .intro{
        left: 7%;
        width: 320px;
    }
}
@media (max-width: 360px){
    .portada .container .circle{
        width: 170px;
        height: 170px;
    }
    .iniciales{
        left: 24%;
        letter-spacing: 74px;
    }
    .intro{
        left: 8%;
        width: 300px;
    }
    .profesion{
        right: 0px;
        transform: rotate(-40deg);
    }
    .name{
        left: 0px;
    }
}
@media (max-width: 350px){
    .iniciales{
        left: 23%;
        letter-spacing: 70px;
    }
    .intro{
        left: 7%;
        width: 300px;
    }
}
@media (max-width: 340px){
    .intro{
        left: 6%;
        width: 300px;
    }
}
@media (max-width: 320px){
    .intro{
        left: 7%;
        width: 280px;
    }
}
@media (max-height : 640px){
    .intro{
        top:68%;
    }
}
@media (max-height : 720px){
    .intro{
        top:70%;
    }
}
@media (min-height : 740px){
    .intro{
        top:68%;
    }
}
@media (max-height : 1000px){
    .intro{
        top:75%;
    }
}
@media (max-height : 535px){
    .portada .container .circle{
        width: 140px;
        height: 140px;
    }
    .iniciales{
        left: 28%;
        letter-spacing: 55px;
    }
    .intro,.profesion,.name{
        font-size: 13px;
    }
    .profesion,.name{
        top: 105px;
    }
}
/**----------------------------------**/