/**------Variables------**/
:root{
    --color-menu: #0a192d;
    --color-font-primary: #02172d;
    --color-font-card: #022441;
    --color-text-primary: #2df9bf;
    --color-text-secondary: #ffffffde;
    --color-text-tertiary: #ffffffb1;
    --color-text-quaternary: #ffffff80;
    --color-text-quintenary: #ffffff4d;
    --color-sub-title-habilidades-adicionales: #0000ff;
    --color-text-menu: #2dffc3;
    --color-border-menu: #00ffff95;
    --color-text-select: #808080;
    --tipo-letra-bold: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --tipo-letra-modal-add-edit: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --porcentaje: 0%;
    --color-theme-claro-active: var(--color-font-primary);
    --color-theme-intermedio-active: var(--color-font-primary);
    --color-theme-oscuro-active: var(--color-font-primary);
    --color-theme-claro-hover-active: #00b900;
    --color-theme-intermedio-hover-active: #00ffff;
    --color-theme-oscuro-hover-active: #2df9bf;
    --icono-theme: '➤➤';
}
/**---------------------**/

/**------General------**/
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-text-primary);
    letter-spacing: 1.4px;
}
body{
    background: var(--color-font-primary);
}
a{
    text-decoration: none;
}
#presentacion, #descripcion, #educacion, .section-educacion, #experiencia-laboral, .section-experiencia, #habilidades, #habilidades-adicionales, #proyectos, .section-pasatiempo, #pasatiempos, #redes-sociales{
    width: 96%;
}
textarea{
    min-height: 140px;
    max-height: 140px;
    resize:none;
}
textarea::-webkit-scrollbar{
    width: 7px;
}
textarea::-webkit-scrollbar-thumb{
    background: var(--color-text-primary);
    border-radius: 30px;
}
.btn:hover{
    box-shadow: 0 1px 20px 15px var(--color-font-card);
    font-family: var(--tipo-letra-bold);
    color: var(--color-text-primary);
}
.header{
    height: 45px;
    padding: 0px 15px;
}
html,body{
    width: 100%;
    overflow-x: hidden;
}
@media (min-width : 500px){
    body::-webkit-scrollbar{
        width: 7px;
    }
    body::-webkit-scrollbar-thumb{
        background: var(--color-text-primary);
        border-radius: 30px;
    }
}
/**-------------------**/

/**---------------Themes-------------**/
#theme{
    display: flex;
    gap:20px;
}
#theme::after{
    content: var(--icono-theme);
    margin-left: 20px;
    margin-bottom: 15px;
    animation: animate_theme 0.8s linear infinite;
}
@keyframes animate_theme{
    0%{
        transform: rotate(-180deg) translateX(-15px);
    }
    100%{
        transform: rotate(-180deg) translateX(15px);
    }
}
#theme ion-icon{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 0.1px solid var(--color-text-primary);
}
#theme ion-icon:hover{
    cursor: pointer;
}
.theme-claro{
    color: var(--color-theme-claro-active);
}
.theme-claro:hover{
    cursor: pointer;
    color: var(--color-theme-claro-hover-active);
    box-shadow: 0 0 30px 2px var(--color-theme-claro-hover-active);
}
.theme-intermedio{
    color: var(--color-theme-intermedio-active);
}
.theme-intermedio:hover{
    cursor: pointer;
    color: var(--color-theme-intermedio-hover-active);
    box-shadow: 0 0 30px 2px var(--color-theme-intermedio-hover-active);
}
.theme-oscuro{
    color: var(--color-theme-oscuro-active);
}
.theme-oscuro:hover{
    cursor: pointer;
    color: var(--color-theme-oscuro-hover-active);
    box-shadow: 0 0 30px 2px var(--color-theme-oscuro-hover-active);
}
@media (max-width : 1100px){
    #theme{
        top: 100px;
        right: 4px;
        margin-bottom: 15px;
    }
    #theme ion-icon{
        width: 20px;
        height: 20px;
    }
    #theme:after{
        width: 23px;
        height: 23px;
    }
}
@media (max-width : 500px){
    #theme{
        top: 80px;
        right: 3px;
        margin-bottom: 10px;
    }
    #theme ion-icon{
        width: 15px;
        height: 15px;
    }
    #theme:after{
        width: 20.5px;
        height: 20.5px;
    }
}
/**----------------------------------**/