<!-----------Pasatiempos---------->  
<section data-aos="fade-up" data-aos-duration="3000" id="pasatiempos" class="section-pasatiempo text-start mx-auto py-5 mb-3 px-4">
    <h4 data-aos="fade-right" data-aos-duration="3000" class="text-center mb-3 pb-2 border-bottom border-primary">Pasatiempos</h4>
    <p data-aos="fade-left" data-aos-duration="3000" class="mb-4">Aqui hay algunas cosas que me gustan hacer aparte de la programacion:</p>
    <article data-aos="fade-up" data-aos-duration="3000" class="pasatiempos-contain">
        <div *ngFor="let pasatiempo of pasatiempos" class="section">
            <div class="image">
                <app-selected-icon [name_icon] = "pasatiempo.nombre_logo" [size_icon] = "50"></app-selected-icon>
            </div>
            <div class="info mt-3">
                {{pasatiempo.descripcion}}  
            </div>
        </div>
    </article>  
</section>